@font-face {
    font-family: 'coffee_sparkregular';
    src: url('coffee_spark-webfont.woff2') format('woff2'),
         url('coffee_spark-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
}
  
@font-face {
    font-family: 'coffee_fillsregular';
    src: url('coffee_fills-webfont.woff2') format('woff2'),
         url('coffee_fills-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
}

@font-face {
    font-family: 'ibm_plex_sanstext';
    src: url('ibmplexsans-text-webfont.woff2') format('woff2'),
         url('ibmplexsans-text-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
  
body {
    font-family: 'coffee_fillsregular';
    margin: 20px;
    background-color: #373737;
    letter-spacing :0.3px;
}

.myTest {
    color: white;
    text-align: center;
}

button{
    font-family: 'coffee_fillsregular';
    background-color: #5887FF ;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid #5887FF;
    border-radius: 5px;
  }
  