<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascii-Art-Web</title>
    <link rel="icon" type="image/x-icon" href="../static/code-xml.png">
    <link rel="stylesheet" href="../static/ascii-art.css"> 
<body>
    <div class="myTest">
        <h3><label class="l1">Result :</label></h3>
        <pre>{{.}}</pre>
        <br>
        <a href = "../download/res.txt" Download = "res.txt">
         <button type = "button"> Download </button>
      </a>
    </div>
</body>
</head>
</html>