<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Ascii-Art-Web</title>
    <link rel="icon" type="image/x-icon" href="../static/code-xml.png">
    <link rel="stylesheet" href="../static/home.css"> 
</head>
<body>
    <div class="myDiv">
      <form method="POST" action="/">
          <h3><label for="input">Input Area to test Ascii-art algorithm:</label></h3>
          <textarea id="input" name="input" rows="10" cols="55"></textarea>
          <br>
          <label for="theme">Theme:</label>
          <select name="themes" id="theme">
            <option value="standard">Standard</option>
            <option value="shadow">Shadow</option>
            <option value="thinkertoy">Thinkertoy</option>
          </select> 
          <input type="submit" value="Write">
        </form>
    </div>
<!--
<footer>
  <p>© 2024</p>
</footer>
-->
</body>
</html>